//colors
$main: #333333;
$grey: #858585;
$white: #ffffff;
$yellow: #ffd93e;
$red: #cc0000;

$itemColor: #f7f7f7;
$itemActiveColor: #ffffff;

//device resolutions
$laptop: 1140px;
$tablets: 768px;
$phones: 480px;

//import
@import "layout/mixins";
@import "layout/setup";

@import "blocks/**/*";