.info-item__description {
    font-size: 20px;
    color: #333333;
    text-align: left;
    display: none;
    margin: auto 0;

    &.active {
        display: block;
    }

    @include tablets {
        font-size: 18px;
    }
}
