.info-item-main-part {
    padding: 20px;
    background: #fafafa;
    color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: auto;

    &.critical {
        background-color: #db5341;
        color: white;
    }
}

.info-item__header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.info-item__title {
    height: 58px;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 0 20px;
    line-height: 28px;

    @include tablets {
        font-size: 14px;
        height: 35px;
        line-height: 16px;
        margin: 0 0 0 15px;
    }
}

.info-item-metadata {
    display: flex;
    flex-shrink: 0;
    font-size: 1rem;
    text-align: left;
    justify-content: space-between;
    margin-bottom: 25px;
    p {
        margin-top: 25px;
    }
}
